html{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Mukta', sans-serif;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}
.right-side{
    background-color: #654de4;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.left-side{
    width: 50%;
    height: 100%;
    border-radius: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}
.left-content{
    height: 380px;
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: space-around;
}

.input{
width: 90px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
    padding-left: 2%;
    outline: none;
}
.input-email{
    width: 320px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
    padding-left: 2%;
    outline: none;
}
.input-password{
    width: 297px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
    padding-left: 2%;
    outline: none;
}
.input-confirm{
    width: 290px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
        padding-left: 2%;
        outline: none;
}
.input-slot{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
}
.input-slot-email{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-slot-password{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-slot-confirm{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-name{
    height: fit-content;
    margin: auto;
    font-size: 13px;
    width: 65px;
}
.input-name-email{
    width: 96px;
    height: fit-content;
    margin: auto;
    margin-left: 17px;
    font-size: 13px;
}
.input-name-password{
    width: 45px;
    margin: auto;
    margin-left: 17px;
    font-size: 13px;
}
.input-name-confirm{
    width: 120px;
    margin: auto;
    margin-left: 17px;
    font-size: 13px;
}
.first-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.second-block{
    width: 100%;
}
.third-block{
    width: 100%;
    position: relative;
}
.fourth-block{
    width: 100%;
}
.password-check{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    margin: auto;
    margin-top: 5px;
}
.spec-name{
    font-size: 10px;
    margin-left: 5px;
    color: #000000;
    text-shadow: none;
}
.password-spec{
    font-size: 5px;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(108 108 108);
}
.visibility{
    position: absolute;
    right: 10px;
    top: 20px;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.sign-up-button{
    background-color: #654de4;
    color: #fff;
    width: 200px;
    height: 40px;
    font-family: 'Mukta', sans-serif;
    border-radius: 5px;
    border-color: rgb(241 241 241);
    border-width: 0px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 0px;
}
.sign-up-button:disabled{
    background-color: #998cd8;
    cursor: default;
}
.valid{
    color: rgb(16 255 90);
    text-shadow: 0px 0px 5px rgb(16 255 90);
    font-size: 5px;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inValid{
    color: rgb(255 16 16);
    text-shadow: 0px 0px 5px rgb(255 16 16);
    font-size: 5px;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputValid{
    border-color: rgb(16 255 90);
    box-shadow: 0px 0px 4px rgb(16 255 90 / 50%);
}
.inputInValid{
    border-color: rgb(255 16 16);
    box-shadow: 0px 0px 6px rgbrgb(255 16 16);
}
.input-confirm:disabled{
    border: none;
}
.headerOnRight{
    font-size: 50px;
    color: #FFF;
    margin-left: 30px;
}
.signUpPic{
    width: 600px;
    margin: auto;
}