html{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Mukta', sans-serif;
}
body{
    background-color: #654de4;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}
.main{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.info-box{
    width: 480px;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.input{
    width: 120px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
    padding-left: 2%;
    outline: none;
}
.input-email{
    width: 320px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
    padding-left: 2%;
    outline: none;
}
.input-password{
    width: 349px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
        padding-left: 2%;
        outline: none;
}
.input-confirm{
    width: 290px;
    height: 40px;
    font-family: "Mukta", sans-serif;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    padding: 0px;
        padding-left: 2%;
        outline: none;
}
.input-slot{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    width: 225px;
}
.input-slot-email{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-slot-password{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-slot-confirm{
    margin-top: 5px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}
.input-name{
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 16px;
}
.input-name-email{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-right: 10px;
    margin-left: 26px;
    font-size: 16px;
}
.input-name-password{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-right: 10px;
    margin-left: 26px;
    font-size: 16px;
}
.input-name-confirm{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-right: 10px;
    margin-left: 26px;
    font-size: 16px;
}
.first-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.second-block{
    width: 100%;
}
.third-block{
    width: 100%;
    position: relative;
}
.fourth-block{
    width: 100%;
}
.password-check{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    border-radius: 5px;
    border-color: rgb(241, 241, 241);
    border-width: 2px;
    border-style: solid;
    margin: auto;
    margin-top: 5px;
}
.spec-name{
    font-size: 10px;
    margin-left: 5px;
    color: #000000
}
.password-spec{
    font-size: 5px;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 0, 0);
}
.visibility{
    position: absolute;
    right: 25px;
    top: 20px;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.sign-up-button{
    background-color: #654de4;
    color: #fff;
    width: 200px;
    height: 44px;
    font-family: 'Mukta', sans-serif;
    border-radius: 5px;
    border-color: rgb(241 241 241);
    border-width: 0px;
    cursor: pointer;
    margin-top: 6px;
    padding: 0px;
}